.attraction-details-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-self: center;
}

.attraction-details-img {
  position: relative;
  bottom: 50px;
  right: 60px;
}

.attraction-details-img img {
  width: 500px;
  height: 450px;
}

.attraction-details-img h3 {
  color: white;
  text-shadow: 2px 2px #000000;
  font-size: 50px;
  position: relative;
  top: 300px;
}

.attraction-details-info {
  background-color: #caf0f8;
  padding: 20px 0 40px 0;
}

.attraction-details-info h3 {
  position: relative;
  bottom: 250px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-size: 25px;
}

.attraction-details-info a {
  border: none;
  background-color: #48cae4;
  width: 200px;
  height: 60px;
  font-size: 45px;
  font-family: "Rajdhani", sans-serif;
  text-decoration: underline;
  padding: 1px 6px;
  appearance: auto;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  padding: 1px 6px;
  margin: 20px 0;
  width: 560px;
}

.attraction-details-info button {
  margin: 20px 10px;
}

.attraction-details-info-box h1,
.attraction-details-info-box p {
  font-size: 50px;
  font-family: "Rajdhani", sans-serif;
}

@media only screen and (max-width: 560px) {
  .attraction-details-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 480px;
  }
  .attraction-details-img {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 40px 40px 150px;
  }

  .attraction-details-img img {
    width: 300px;
    height: 250px;
  }

  .attraction-details-img h3 {
    position: relative;
    top: 180px;
    font-size: 30px;
  }

  .attraction-details-info {
    width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .attraction-details-info h3 {
    position: static;
    font-size: 25px;
  }

  .attraction-details-info a {
    width: 380px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .attraction-details-info-box h1,
  .attraction-details-info-box p {
    font-size: 30px;
    font-family: "Rajdhani", sans-serif;
  }
}
