@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&family=Rajdhani:wght@300;400;500;700&display=swap");

.nav-main {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr;
  grid-template-rows: 0.4fr 0.4fr;
  grid-template-areas:
    "s s n n n"
    "s s . . .";
  height: 230px;
}

.nav-name {
  font-family: "Libre Barcode 39 Extended Text", cursive;
  font-size: 64px;
  color: #03045e;
  background-color: #48cae4;
  text-decoration: none;
  grid-area: s;
  /* align-self: center; */
  padding: 55px 0;
}

.nav-links {
  padding: 30px 0;
  font-size: 22px;
  background-color: #03045e;
  grid-area: n;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}
