.sign-up-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-self: center;
}

.sign-up-helper-text {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sign-up-helper-text h1 {
  font-size: 64px;
  font-weight: 100;
}

.sign-up-helper-text p {
  font-size: 30px;
}

.sign-up-form {
  position: relative;
  bottom: 120px;
}

.sign-up-form input {
  width: 560px;
  height: 70px;
  background-color: #caf0f8;
  border: none;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-left: 10px;
}

.sign-up-form input::placeholder {
  font-size: 20px;
}

.sign-up-form label {
  font-size: 40px;
  text-align: left;
  width: 100%;
  position: relative;
  right: 200px;
}

.sign-up-form label:first-child {
  position: relative;
  right: 170px;
}

.sign-up-form label:last-child {
  position: relative;
  right: 80px;
}

.sign-up-fix {
  padding-left: 220px;
}

button {
  border: none;
  background-color: #48cae4;
  width: 200px;
  height: 60px;
  font-size: 30px;
  text-decoration: underline;
}

@media only screen and (max-width: 560px) {
  .sign-up-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sign-up-form input {
    width: 360px;
    height: 50px;
  }

  .sign-up-helper-text h1 {
    font-size: 44px;
  }

  .sign-up-helper-text p {
    font-size: 20px;
  }

  .sign-up-form {
    position: static;
  }

  .sign-up-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sign-up-form label {
    font-size: 20px;
    position: static;
  }

  .sign-up-form label:first-child {
    position: static;
  }

  .sign-up-form input::placeholder {
    font-size: 15px;
  }

  button {
    width: 100px;
    height: 30px;
    font-size: 15px;
  }

  .sign-up-fix {
    padding-left: 0px;
  }
}
