.edit-location-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-self: center;
}

.edit-location-helper-text {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.edit-location-helper-text h1 {
  font-size: 64px;
  font-weight: 100;
}

.edit-location-helper-text p {
  font-size: 30px;
}

.edit-location-form {
  position: relative;
  bottom: 100px;
}

.edit-location-form input {
  width: 560px;
  height: 70px;
  background-color: #caf0f8;
  border: none;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-left: 10px;
}

.edit-location-form input::placeholder {
  font-size: 20px;
}

.edit-location-form label {
  font-size: 40px;
  position: relative;
  right: 200px;
}

.edit-location-form label:first-child {
  position: relative;
  right: 165px;
}

.edit-location-form button {
  border: none;
  background-color: #48cae4;
  width: 200px;
  height: 60px;
  font-size: 30px;
  text-decoration: underline;
}
