.footer-main {
  background-color: #03045e;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icons a {
  padding: 0 20px;
}

small {
  color: white;
  font-size: 18px;
}
