.log-in-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-self: center;
}

.log-in-helper-text {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.log-in-helper-text h1 {
  font-size: 64px;
  font-weight: 100;
}

.log-in-helper-text p {
  font-size: 30px;
}

.log-in-form {
  position: relative;
  bottom: 100px;
}

.log-in-form input {
  width: 560px;
  height: 70px;
  background-color: #caf0f8;
  border: none;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-left: 10px;
}

.log-in-form input::placeholder {
  font-size: 20px;
}

.log-in-form label {
  font-size: 40px;
  position: relative;
  right: 200px;
}

button {
  border: none;
  background-color: #48cae4;
  width: 200px;
  height: 60px;
  font-size: 30px;
  text-decoration: underline;
}

@media only screen and (max-width: 560px) {
  .log-in-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .log-in-form input {
    width: 360px;
    height: 50px;
  }

  .log-in-helper-text h1 {
    font-size: 44px;
  }

  .log-in-helper-text p {
    font-size: 20px;
  }

  .log-in-form {
    position: static;
  }

  .log-in-form label {
    font-size: 20px;
    position: relative;
    right: 140px;
  }

  .log-in-form input::placeholder {
    font-size: 15px;
  }

  button {
    width: 100px;
    height: 30px;
    font-size: 15px;
  }
}
