.layout {
  height: 100vh;
  background-color: #f3fdff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.layout-children {
  padding: 100px 60px;
  background-color: #f3fdff;
}

@media only screen and (max-width: 560px) {
  .layout-children {
    padding: 20px 40px 40px 40px;
  }
}
