.home-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  justify-self: center;
}

.home-helper-text {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-helper-text h1 {
  font-size: 64px;
  font-weight: 100;
}

.home-helper-text p {
  font-size: 30px;
}

.home-hero-img {
  position: relative;
  bottom: 100px;
}

.home-hero-img h3 {
  position: relative;
  bottom: 80px;
  font-size: 40px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
}

@media only screen and (max-width: 560px) {
  .home-main {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .home-helper-text h1 {
    font-size: 44px;
  }

  .home-helper-text p {
    font-size: 15px;
  }

  .home-hero-img h3 {
    position: static;
    font-size: 25px;
  }
  .home-hero-img {
    position: static;
    width: 350px;
    height: 233px;
    margin-bottom: 80px;
  }

  .home-hero-img img {
    width: 350px;
  }
}
